.double-progress-bar {
    position: relative;
    min-height: 1rem;
    width: auto;
    background-color: whitesmoke;
    border-radius: 12px;
    margin: 0.5rem;
    color: white;
    font-size: 12px;

    &__left__zone {
        position: absolute;
        left: 0;
        height: 100%;
        width: 20%;

        // background-color: rgb(214, 253, 163);
        background: linear-gradient(90deg, rgba(253, 163, 163, 1) 0%, rgba(0, 0, 0, 0) 100%);

        // background-color: rgb(253, 163, 163);
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    &__right__zone {
        position: absolute;
        right: 0;
        height: 100%;
        width: 20%;

        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(214, 253, 163, 1) 100%);
        // background-color: rgb(214, 253, 163);
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }


    &__left {
        position: absolute;

        right: 50%;

        height: 100%;
        // background-color: rgb(218, 0, 0);
        background: linear-gradient(90deg, rgba(255, 31, 31, 1) 0%, rgba(255, 181, 43, 1) 100%);
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        text-align: left;
        padding-left: 10px;

        &__text {
            color: white;
            font-weight: bold;
        }
    }

    &__right {
        position: absolute;

        left: 50%;

        height: 100%;
        // background-color: green;
        background: linear-gradient(90deg, rgba(255, 181, 43, 1) 0%, rgba(83, 237, 124, 1) 100%);
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        text-align: right;
        padding-right: 10px;

        &__text {
            color: white;
            font-weight: bold;
        }
    }
}