header {
    margin: 0 auto;
    height: 48px;
    align-content: center;
    background-color: #202020;
    color: white;

    a {
        color: white;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin: 0 auto;
    font-size: 16px;

    &__menu {
        display: flex;
        gap: 2rem;
        align-items: center;
        font-size: 16px;
    }

    &__user-info {
        display: flex;
        gap: 32px;
    }
}