*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.add-mark-menu {
  position: absolute;
  width: min-content;
  // height: 100%;
  top: 8%;
  right: 10px;
  background-color: white;
  z-index: 10;

  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  color: black;
}

.edit-multiline-text {
  width: -moz-available;
  width: -webkit-fill-available;
  padding: 10px;
  border: 1px solid #dadada;
  outline: none;

  svg {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    border: 1px solid #bebebe;

    svg {
      transform: scale(1.1);
    }
  }

  &-border-rad {
    border-radius: 8px;
  }
}

.camera {
  display: flex;

  canvas {
    width: 320px;
  }
}

.circle {
  position: absolute;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.circle:hover {
  color: #2e4ce5;
  cursor: pointer;
}

.circle-content {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 90%;

  border-radius: 50%;
  background-color: currentColor;

  transform: translate3d(-50%, -50%, 0);
}

.circle-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
}

.add-mark-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
  padding: 16px;

  cursor: pointer;

  height: 64px;
  width: 64px;

  color: white;

  background-color: black;
  border-radius: 50%;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  z-index: 1;

  transition: all 0.2s ease-in-out;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
  }

  &:hover {
    background-color: white;
    color: black;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    margin: auto;
    padding: 16px;
    width: 30%;
    height: fit-content;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}